/*
  #map:      z-index: 100;
  #map_#:    z-index: 200;

  #nodes:    z-index: 300;
   .node:    z-index: 350;

  #pieces:   z-index: 500;
  .piece:    z-index: 550;

  #question: z-index: 800;
*/

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
}

#container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 768px;
  height: 960px;
  overflow-y: scroll;
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-image: url('../assets/map_grey.jpg');
  width: 1250px;
  height: 960px;
  z-index: 100;
}

#map_A,
#map_B,
#map_C,
#map_D,
#map_E,
#map_F,
#map_G,
#map_H,
#map_I {
  display: none;
  position: absolute;
  z-index: 200;
}

#map_A {
  background-image: url('../assets/map_A.png');
  width: 506px;
  height: 432px;
  top: 0;
  left: 0;
}
#map_B {
  background-image: url('../assets/map_B.png');
  width: 486px;
  height: 253px;
  top: 0;
  left: 459px;
}
#map_C {
  background-image: url('../assets/map_C.png');
  width: 453px;
  height: 468px;
  top: 0;
  left: 797px;
}
#map_D {
  background-image: url('../assets/map_D.png');
  width: 372px;
  height: 339px;
  top: 265px;
  left: 91px;
}
#map_E {
  background-image: url('../assets/map_E.png');
  width: 467px;
  height: 304px;
  top: 225px;
  left: 366px;
}
#map_F {
  background-image: url('../assets/map_F.png');
  width: 388px;
  height: 378px;
  top: 237px;
  left: 720px;
}
#map_G {
  background-image: url('../assets/map_G.png');
  width: 803px;
  height: 472px;
  top: 488px;
  left: 257px;
}
#map_H {
  background-image: url('../assets/map_H.png');
  width: 420px;
  height: 540px;
  top: 420px;
  left: 0px;
}
#map_I {
  background-image: url('../assets/map_A.png');
  width: 368px;
  height: 511px;
  top: 449px;
  left: 882px;
}

#nodes {
  z-index: 300;
}

#nodes .node {
  position: absolute;
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,0.7);
  border-radius: 60px;
  border: 3px solid black;
  z-index: 350;
}

#nodes .node.occupied {
  background: yellow;
}

#nodes .node.vacant {
  background: limegreen;
}

#nodes .destination.node {
  background: rgba(0,0,255,0.5);
}
#nodes .destination.node.vacant {
  background: rgba(0,0,255,0.9);
}

#pieces {
  z-index: 500;
}

#pieces .piece {
  position: absolute;
  width: 100px;
  height: 100px;
  background-image: url('../assets/sprites.png');
  background-position: 0px 0px;
  z-index: 550;

  transition: top 1s, left 1s;
  transition-timing-function: ease-in;
}

#question {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  display: none;
  width: 90%;
  height: 90%;
  z-index: 800;
  background-color: rgba(255,255,255,0.9);
  border: 10px solid rgba(0,0,0,0.5);
  border-radius: 25px;
  font-family: sans-serif;
}

#question .questionText {
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  margin: 40px 0;
}

#question .problemText {
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  font-family: monospace;
  color: blue;
}

#question .options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  padding: 0 50px;
}

#question .option {
  display: block;
  width: 130px;
  height: 130px;
  line-height: 130px;
  font-size: 50px;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
}

#question .option.wrong {
  background-color: rgba(255,0,0,0.5);
}

#question .options .reading ,
#question .problemText .reading {
  width: 200px;
  height: 200px;
  list-style: none;
  padding: 0;
  background-position: 200px 200px;
  background-repeat: no-repeat;
}

#question .reading.tomato {
  background-image: url('../assets/food_cafe.jpg');
  background-position: 0px 0px;
}
#question .reading.sausage {
  background-image: url('../assets/food_cafe.jpg');
  background-position: -200px 0px;
}
#question .reading.rice {
  background-image: url('../assets/food_cafe.jpg');
  background-position: -400px 0px;
}
#question .reading.cutlet {
  background-image: url('../assets/food_cafe.jpg');
  background-position: -600px 0px;
}
#question .reading.chicken {
  background-image: url('../assets/food_cafe.jpg');
  background-position: -800px 0px;
}
#question .reading.soup {
  background-image: url('../assets/food_cafe.jpg');
  background-position: 0px -200px;
}
#question .reading.salad {
  background-image: url('../assets/food_cafe.jpg');
  background-position: -200px -200px;
}
#question .reading.potato {
  background-image: url('../assets/food_cafe.jpg');
  background-position: -400px -200px;
}
#question .reading.cucumber {
  background-image: url('../assets/food_cafe.jpg');
  background-position: -600px -200px;
}
#question .reading.noodles {
  background-image: url('../assets/food_cafe.jpg');
  background-position: -800px -200px;
}

#question .reading.hat {
  background-image: url('../assets/clothes_lookout.jpg');
  background-position: 0px 0px;
}
#question .reading.coat {
  background-image: url('../assets/clothes_lookout.jpg');
  background-position: -200px 0px;
}
#question .reading.shoes {
  background-image: url('../assets/clothes_lookout.jpg');
  background-position: -400px 0px;
}
#question .reading.scarf {
  background-image: url('../assets/clothes_lookout.jpg');
  background-position: -600px 0px;
}
#question .reading.gloves {
  background-image: url('../assets/clothes_lookout.jpg');
  background-position: -800px 0px;
}
#question .reading.socks {
  background-image: url('../assets/clothes_lookout.jpg');
  background-position: 0px -200px;
}
#question .reading.pants {
  background-image: url('../assets/clothes_lookout.jpg');
  background-position: -200px -200px;
}
#question .reading.shirt {
  background-image: url('../assets/clothes_lookout.jpg');
  background-position: -400px -200px;
}
#question .reading.sweater {
  background-image: url('../assets/clothes_lookout.jpg');
  background-position: -600px -200px;
}
#question .reading.cap {
  background-image: url('../assets/clothes_lookout.jpg');
  background-position: -800px -200px;
}

#question.reading .options .reading {
  width: 250px;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
  text-transform: uppercase;
  background-position: 200px 200px;
}

#question.mission .problemText .option.reading ,
#question.reading .problemText .option.reading {
  margin: auto;
}



#question .buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: stretch;
  padding: 200px 50px 0;
}

#question .buttons .button {
  font-size: 50px;
  line-height: 100px;
  text-align: center;
  width: 300px;
  height: 100px;
  background-color: limegreen;
}
